/* =============
    Variables
============= */
// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1440px;

// Colors
$white: #fff;
$black: #000;
$tree: #3D4133;
$choco: #8B6956;
$tan: #D5A57F;
$algae: #6B705C;
$xanh: #E0E0BB;
$ung: #5F5F50;
$egg: #F4F4D8;
$chocomilk: #CB997E;
$burnt: #8E7869;