/* =============
    Base
============= */
main{
    
    figure{ 
        padding: 0;
        margin: 0;
    }

    ul{ 
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }


    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". main .";
    }
    

>div{
    display: grid;
    gap: 24px;
    @include xl{
        grid-area: main;
        
    }

    display: grid;
    //gap: 24px;
   //grid-template-columns: 50% auto;
   //grid-template-areas:"header header"
                       //"search search"
                       //"hero hero"
                       //"service service"
                       //"hero-2 hero-2"
                       //"dishes dishes"
                       //"footer footer";

    
}

}

