/* =============
    Base
============= */
main{
    
    figure{ 
        padding: 0;
        margin: 0;
    }

    ul{ 
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". main .";
    }
   
    

>div{
    display: grid;
    gap: 24px;
    @include xl{
        grid-area: main;
    }

    
    
}

}

