#hero-2{
    
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". hero-2 .";
    }
    ul{
        display: grid;
         grid-template-rows: repeat(5, 176px);
        grid-template-areas: "meal"
                             "meal"
                              "letseat"
                              "letseat"
                              "letseat";

        @include md{
                grid-template-columns: 50% auto;
            }

        @include lg{
            grid-template-columns: 16px 55% auto 16px;
            grid-template-areas: ". meal letseat ."
        
        }

        @include xl{
            grid-area: hero-2; 

            grid-template-columns: 65% auto;
            grid-template-areas: "meal letseat"
                                 "meal h2-3";
        }

        li{
            // height: 230px;
            background-size: cover;
            background-position: center;
            // img{
            //     width: 100%;
            // }
            
        }
        
        #h2-1{
            background-image: url("../img/hero-2/meal.jpg");    
             @include lg{
               grid-area: meal; 
           }
           
    
            }
    
        #h2-2{
            background-image: url("../img/hero-2/letseat.jpg");
             @include lg{
                 grid-area: letseat;
             }
                
            }

        #h2-3{
            background-image: url("../img/hero-2/type-of-noods.jpg");
            display: none;
            @include xl{
                display: list-item;
                grid-area: h2-3;
            }
        }
        
    }
}