#hero {
    img {
        object-fit: cover;
        width: 100%;
    }


    a:link,
    a:visited {
        color: $white;
        transition: 0.25s;
    
    }

    a:hover,
    a:active {
        color: $tree;
    }

    margin-bottom: 24px;
    @include md{
        margin-bottom: 40px;
    }
    @include lg{
        margin-bottom: 56px;
    }
    @include xl{
        margin-bottom: 64px;
    }

    >ul {

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
            
        }

        @include lg {
            grid-template-columns: 50% auto;
        }


        li {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";
            padding: 16px 0px;

            @include md{
                padding: 24px 0px;
            }
            

            @include xl {
                grid-template-columns: auto 480px 16px;
            }

            .hero-info{
                display: flex;
            }
            a {
                grid-area: hero-content;
               

                .details { 
                    display: flex;
                    margin-left: auto;
                    align-items: center;
                    
                    
                

                    h5 {
                        font-family: 'Halant', serif;
                        font-weight: 700;
                        font-size: rem-calc(18);
                        margin-left: 100px;
                        display: none;

                        @include lg {
                            display: grid;

                        }

                    }
                    i{
                        margin-left: 5px;
                   

                    }



                }

            }

        }

        #h1 {
            background-color: $choco;
            h3{
                margin-bottom: 5px;
                font-family: 'Halant', serif;
                font-weight: 700;
                font-size: rem-calc(18);
                @include lg{
                    font-size: rem-calc(25);
                }
            }
            p{
                font-weight: 500;

            }

            h5{
                margin-left: auto;
            }

        }

        #h2 {
            background-color: $tan;
            h4{
                margin-bottom: 5px;

            }
            p{
                font-weight: 400;

            }
            
            @include xl {
                grid-template-columns: 16px 480px auto;
            }

            span{
                display: inline;
                font-weight: 500;
            }
        }
    }


}