#hero-2 {
    @include xl {
        display: grid;
        grid-template-areas: ". hero-2 .";
        grid-template-columns: auto 1200px auto;
    }

    ul {
        display: grid;
        grid-template-rows: 550px 800px;
        margin-bottom: 24px;

        @include md {
            grid-template-areas: "meal letseat";
            grid-template-columns: 50% auto;
            grid-template-rows: 600px;
            margin-bottom: 40px;
        }

        @include lg {
            grid-template-areas: ". meal letseat .";
            grid-template-columns: 16px 55% auto 16px;
            margin-bottom: 56px;
        }

        @include xl {
            grid-area: hero-2;
            grid-template-areas: "meal letseat"
                "meal h2-3";
            grid-template-columns: 65% auto;
            grid-template-rows: 377px 377px;
            margin-bottom: 64px;
        }

        li {
            background-position: center;
            background-size: cover;
        }

        #h2-1 {
            background-image: url("../img/hero-2/meal.jpg");

            @include lg {
                grid-area: meal;
            }
        }

        #h2-2 {
            background-image: url("../img/hero-2/letseat.jpg");

            @include lg {
                background-position: center -210px;
                grid-area: letseat;
            }
        }

        #h2-3 {
            background-image: url("../img/hero-2/type-of-noods.jpg");
            display: none;

            @include xl {
                display: list-item;
                grid-area: h2-3;
            }
        }
    }
}