#hero {
    img {
        object-fit: cover;
        width: 100%;
    }


    a:link,
    a:visited {
        color: $white;
        transition: 0.25s;
    }

    a:hover,
    a:active {
        color: $tree;
    }
    margin-bottom: 24px;
    @include md{
        margin-bottom: 40px;
    }
    @include lg{
        margin-bottom: 56px;
    }
    @include xl{
        margin-bottom: 64px;
    }

    >ul {

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
            
        }

        @include lg {
            grid-template-columns: 50% auto;
        }


        li {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";
            padding: 16px;

            @include md{
                padding: 24px;
            }
            

            @include xl {
                grid-template-columns: auto 480px 16px;
            }


            a {
                grid-area: hero-content;



                div {
                    h3 {
                        font-family: 'Halant', serif;
                        font-weight: 700;
                        font-size: rem-calc(18);
                    }
                }

                div {
                    h5 {
                        font-family: 'Halant', serif;
                        font-weight: 700;
                        font-size: rem-calc(18);

                        display: none;

                        @include lg {
                            display: grid;

                        }

                        // p {
                        //     span {
                        //         display: inline;
                        //         font-weight: 500;
                        //     }
                        // }
                    }


                }

            }

        }

        #h1 {
            background-color: $choco;

        }

        #h2 {
            background-color: $tan;

            @include xl {
                grid-template-columns: 16px 480px auto;
            }
        }
    }


}