#hero{
    img{
        width: 100%;
    }
    
    #hero-content{
        >ul{
            li{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". hero-content .";
    
                @include md{
                    display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "a a";
            
                }
    
                a{
                    grid-area: hero-content;
                }
            }
             
        
        
        
        
        }
    }
    
}