#search {
    display: grid;
    grid-template-areas: ". search .";
    grid-template-columns: 16px auto 16px;
    padding: 18px 0;
    margin-top: 100px;

    @include md {
		padding: 22px 0;
		margin-top: 120px;
	}

    @include lg {
		margin-top: 125px;
	}

    @include xl {
        grid-template-columns: auto 1000px auto;
    }

    >div {
        grid-area: search;

        form {
           display: flex;

            input {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid $xanh;
                font-size: rem-calc(20);
                font-weight: 300;
                width: 100%;

                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $burnt;
                }

                @include md {
                    color: $burnt;
                    font-size: rem-calc(30);
                    font-weight: 200;
                }
            }

            button {
                background-color: $choco;
                border: none;
                border-radius: 3.5px;
                color: $white;
                cursor: pointer;
                display: inline-block;
                font-size: rem-calc(18);
                font-weight: 200;
                padding: 5px 9px;
                transition: 0.25s;

                &:hover {
                    cursor: pointer;
                    background-color: $black;
                    color: $white;
                }

                @include md {
                    font-size: rem-calc(30);
                }
            }
        }
    }
}