#search{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    
    
    
    @include xl{
        grid-template-columns: auto 1000px auto;
    }


    >div{
        grid-area: search;

        form{
            
            padding: 24px 16px;
             input{
                 font-weight: 300;
                border-color: $xanh;
                border-top: none;
                border-left: none;
                border-right: none;
                width: 87%;
                
                 &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $burnt;
                      
                    }
                 @include md{
                     font-size: rem-calc(30);
                     font-weight: 200;
                     color: $burnt;

                     
                 }

             }
             button{
                 background-color: $choco;
                 color: $white;
                 font-weight: 200;
                 font-size: rem-calc(18);
                 border: none;
                 border-radius: 3.5px;
                 padding: 5px 9px;
                transition: 0.25s;
                cursor: pointer;
                display: inline-block;

                    &:hover {
                        background-color: $black;
                        color: $white;
                    }

                 @include md{
                     font-size: rem-calc(30);
                 }
             }
        }
    }
}