footer {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

 @include xl{
     grid-template-columns: auto 1200px auto;
 }


    >div {
        grid-area: footer;

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "section article"
                ". aside";
        }

        @include lg {
            grid-template-columns: repeat(3, 3fr);
            grid-template-areas: "section article aside";
        }

        @include xl {
            grid-template-columns: repeat(3, 3fr);
            grid-template-areas: "section article aside";
        }

        section {
            grid-area: section;

        }

        article {
            grid-area: article;


        }

        aside {
            grid-area: aside;

        }
    }
}