footer {
    background-color: $ung;
    color: $white;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    padding: 16px 0px;

    a:link,
    a:visited {
        color: $egg;
        transition: 0.25s;
    
    }

    a:hover,
    a:active {
        color: $tree;
    }


    @include md {
        padding: 24px 0px;
    }

    @include xl {
        grid-template-columns: auto 1000px auto;
    }


    >div {
        grid-area: footer;



        h3 {
            font-family: 'Halant', serif;
            font-weight: 600;
            font-size: rem-calc(20);
            margin-bottom: 11px;

            @include md {
                margin-bottom: 10px;
            }

            @include lg {
                margin-bottom: 12px;
            }


        }


        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "locations sign-up"
                "locations follow";
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "locations sign-up follow";
        }



        #locations {
            margin-bottom: 10px;
            

            h4 {
                font-family: 'Halant', serif;
                font-weight: 600;
                margin-bottom: 6px;

            }

            section {
                color: $egg;
                margin-bottom: 32px;

                ul {
                    li {

                        i {
                            color: $acorn;
                        }

                        address{
                            font-size: 400;
                            margin-left: 5px;
                        }
                        a{
                            margin-left: 9px;
                        }
                    }
                    
                    .info{
                            display: flex;
                            margin-bottom: 16px;
                        }
                }
            }

            @include md {
                grid-area: locations;
            }
        }

        #sign-up {
            margin-bottom: 10px;

            h3 {
                align: center;
            }

            @include md {
                grid-area: sign-up;
            }



            form {
                input {
                    font-weight: 400;
                    font-size: rem-calc(14);
                    color: $burnt;
                    display: block;
                    height: 50px;
                    width: 93%;
                    background-color: $egg;
                    border: none;

                    @include md {
                        width: 93%;
                    }

                    @include lg {
                        width: 300px;
                    }

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $burnt;
                    }
                }

                button {
                    background-color: $chocomilk;
                    color: $white;
                    font-weight: 800;
                    font-size: rem-calc(14);
                    border: none;
                    padding: 5px 8px;
                    transition: 0.25s;
                    cursor: pointer;
                    margin-top: 15px;
                    display: flex;
                    margin-left: 356px;


                    &:hover {
                        background-color: $black;
                        color: $white;
                    }
                }
            }

        }

        #follow {
            @include md {
                grid-area: follow;
            }

            ul {
                display: flex;


                li {
                    margin: 0 5px;

                    a:link,
                    a:visited {
                        color: $white;
                        font-size: rem-calc(20);
                        transition: 0.25s;
                    }

                    a:hover,
                    a:active {
                        color: $tree;
                    }
                }
            }
        }


    }


}