footer {
    background-color: $ung;
    color: $white;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    @include xl {
        grid-template-columns: auto 1200px auto;
    }


    >div {
        grid-area: footer;

        h3 {
            font-family: 'Halant', serif;
            font-weight: 600;
            font-size: rem-calc(20);
        }


        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "section article"
                ". aside";
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "section article aside";
        }

        @include xl {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "section article aside";
        }

        section {
            grid-area: section;

            article {
                color: $egg;
                // address{
                //     font-weight: 300
                //     ;
                // }
            }

        }

        section {


            article {
                h4 {
                    font-family: 'Halant', serif;
                    font-weight: 600;

                }

                ul {
                    li {
                        div {
                            color: $acorn;
                        }
                    }
                }
            }
        }

        article {
            grid-area: article;

            form {
                input {
                    font-weight: 400;
                    font-size: rem-calc(14);
                    color: $burnt;

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $burnt;

                    }


                }

                button {
                    background-color: $chocomilk;
                    color: $white;
                    font-weight: 800;
                    font-size: rem-calc(14);
                    border: none;
                    padding: 5px 8px;
                    transition: 0.25s;
                    cursor: pointer;

                    &:hover {
                        background-color: $black;
                        color: $white;
                    }
                }
            }


        }

        aside {
            grid-area: aside;

        }
    }
}