/* =============
    Header
============= */
header {

    background-color: $tree;
    color: $xanh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;



    >div {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: "logo burger"
                            "nav nav";

        @include lg{
            grid-template-columns: 60% auto;
            grid-template-areas: "logo nav";
        }



        #logo-container {
            grid-area: logo;
            padding: 10px;

            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "svg h1"
                                     "svg h5";
            }

            div{
                >div{
                    
                    a:link, a:visited {
                transition: 0.25s;
                grid-area: svg;
                &:hover {
                   color: $white;
                }
            } 
                }
                

            h1 {
                grid-area: h1;
                font-family: 'Halant', serif;
                font-weight: 700;
                font-size: rem-calc(23);
                display: none;
                

                @include md{
                    display: contents;
                    text-align: center;
                }

                @include lg {
                    font-size: rem-calc(33);
                }
            }

            h5 {
                grid-area: h5;
                font-weight: 400;
                font-size: rem-calc(13);
                display: none;


                @include md{
                    display: block;
                }
            }
            }

           
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include lg {
                display: none !important;
            }

            i {
                margin-left: auto;
               cursor: pointer;
                font-size: rem-calc(40); 
                &:hover {
                    color: $white;
                 }
            }
        }

        #nav-container {
            background-color: $xanh;
            color: $tree;
            grid-area: nav;
            display: none;
            padding: 20px 10px 10px;
            text-align: right;

            @include lg{
                background-color: $tree;
                display: block !important;
            }
        }
    }
}