/* =============
    Header
============= */
header {

    background-color: $tree;
    color: $xanh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;



    >div {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas: "logo burger"
            " nav nav";

        @include lg{
            grid-template-columns: 20% auto;
            grid-template-areas: "logo nav";
        }



        #logo-container {
            grid-area: logo;
            padding: 10px;

            a:link, a:visited {
                transition: 0.25s;

                &:hover {
                }
            }

            h1 {
                font-family: 'Halant', serif;
                font-weight: 700;
                font-size: rem-calc(23);
                margin-bottom: -10px;
                display: none;

                @include lg {
                    font-size: rem-calc(33);
                }
            }

            h5 {
                font-weight: 400;
                font-size: rem-calc(13);
                display: none;
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include lg {
                display: none !important;
            }

            i {
                margin-left: auto;
               cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        #nav-container {
            background-color: $xanh;
            grid-area: nav;
            display: none;
            padding: 20px 10px 10px;
            text-align: right;

            @include lg{
                background-color: $tree;
                display: block !important;
            }
        }
    }
}