/* =============
    Header
============= */
header {
    background-color: $tree;
    color: $xanh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: 20% auto;

        @include lg {
            grid-template-areas: "logo logo-content nav";
            grid-template-columns: 7% auto auto;
        }
        
        #logo-container {
            grid-area: logo;
            padding: 10px;

            a:link,
            a:visited {
                transition: 0.25s;

                &:hover {
                    color: $white;
                }
            }
        }

        #logo-content { 
            grid-area: logo-content;
            @include lg {
                
                padding-top: 15px;
                
            }

            h1 {
                display: none;
                font-family: 'Halant', serif;
                font-size: rem-calc(23);
                font-weight: 700;

                @include lg {
                    display: block;
                    font-size: rem-calc(30);
                }
            }

            p {
                display: none;

                @include lg {
                    display: block;
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;
            padding-left: 69vw;

            @include md{
                padding-left: 74.5vw;
            }

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(40);
                margin-left: auto;

                &:hover {
                    color: $white;
                }
            }
        }

        #nav-container {
            background-color: $xanh;
            color: $tree;
            display: none;
            grid-area: nav;
            padding: 20px 10px 10px;
            text-align: right;

            @include lg {
                background-color: $tree;
                display: block !important;
            }
        }
    }
}